@import url("https://fonts.googleapis.com/css?family=Fira+Sans|Ma+Shan+Zheng&display=swap");
h1 {
  color: blue;
}

li {
  color: purple;
}

.headercalle {
  width: 100px;
  color: magenta;
  box-shadow: 10px 5px 5px red;
}

#image1 {
  width: 500px;
  height: 100px;
}

body {
  /* background-color: blue; */
  font-family: "Fira Sans", sans-serif;
}

.imagecontainer {
  background-color: white;
}

.textcontainer {
  width: 400px;
  border: 10px solid blue;
}

.firstparagraph {
  font-size: 20px;
  font-family: "Ma Shan Zheng", cursive;
}

.secondparagraph {
  font-size: 15px;
}
